<form
  [formGroup]="miForm"
  (ngSubmit)="saveForm()"
>
  <div class="row">
    <!--Continent-->
    <div class="col-12 mt-2">
      <label class="form-label">Continent: </label>
      <select
        formControlName="region"
        class="form-control">
        <option value="">--- Select Continent ---</option>
        <option *ngFor="let region of regions" [value]="region | lowercase">{{region}}</option>
      </select>
    </div>
    <!--City-->
    <div class="col-12 mt-2" *ngIf="citys.length > 0">
      <label class="form-label">Pais: </label>
      <select
        formControlName="citys"
        class="form-control">
        <option value="">--- Select City ---</option>
        <option *ngFor="let city of citys" [value]="city.alpha3Code">{{city.name}}</option>
      </select>
    </div>
    <!--Region-->
    <div class="col-12 mt-2" *ngIf="fronter.length > 0">
      <label class="form-label">Frontier: </label>
      <select
        formControlName="frontier"
        class="form-control">
        <option value="">--- Select Frontier ---</option>
        <option *ngFor="let fnr of fronter" [value]="fnr.alpha3Code">{{fnr.name}}</option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="loader" >
    <div class="col mt-2">
      <div class="alert alert-primary">
        Loader ...
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="submit"
        class="btn btn-primary mt-2"
      >
        Select
      </button>
    </div>
  </div>
</form>
<h4 class="pt-3 pb-3">Form</h4>
<p class="p-0 m-0">Validate: </p>
<pre>{{miForm.valid}}</pre>
<p class="p-0 m-0">Value: </p>
<pre>{{miForm.value | json}}</pre>
